*{
    margin: 0;
    padding: 0;
}

body{
    position: sticky;
    background-image:url("https://m.media-amazon.com/images/S/pv-target-images/dc9a92d3f52ce828e1d77e859b9d3c37e1173c997c50760d596714ee09889c5d.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    position: fixed;
    font-family: "Game of Thrones";
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
}
.play-btn
{
    margin-top: 2rem;
    margin-left: 85rem;
}

.home-div{
    margin-left: 56rem;
    margin-top: 25rem;
    padding: 2rem;
    width: 20rem;
}

.nav-options:hover{
  text-shadow: 2px 2px 30px rgb(255, 255, 255);
}

.nav-links{
  text-decoration: none;
}
