body{
    margin: 0;
    font-family: "Game of Thrones";
    background-image: url("https://images.ctfassets.net/g4cf1q74w7m6/15pVGmrRaXu68Xq7Le7sbY/a1e0f199514223c1377da8ef064a4f17/Screen_Shot_2022-08-23_at_7.14.33_PM.png?fm=webp&w=1920&q=80");
    background-size:cover;
}